.student {
  .student-top {
    display: flex;
    justify-content: space-between;

    .student-btns{
      display: flex;
      gap: 5px;
    }
  }
}


.admission{
  .admission-top{
    display: flex;
    justify-content: space-between;
  }
 
}