@use "../../../styles/responsive.scss" as *;

.newGallery {
  margin-top: 20px;
  .newGallery-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      display: flex;
      align-items: center;
      cursor: pointer;

      .newGallery-icon {
        font-size: 30px;
      }
    }
  }

  .newGallery-content {
    .newGallery-content-top {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      gap: 20px;

      label {
        font-size: 20px;
      }

      input {
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 2px solid #000;
        font-size: 20px;
      }
    }

    .added-photos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      grid-auto-rows: 1fr;
      margin-top: 30px;

      .photo-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          object-fit: contain;
          width: 100%;
          height: 250px;
          position: relative;
        }
      }
    }

    .newGallery-content-details {
      margin-top: 30px;
      width: 100%;

      .newGallery-content-details-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 600px;
        margin: 0 auto;

        .newGallery-content-details-left {
          background: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 300px;
          width: 100%;
          cursor: pointer;
          overflow: hidden;

          &.bg-none {
            background: transparent;
          }

          .main-image {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            object-fit: contain;
          }

          .addimage {
            width: 100px;
          }
        }

        .photo-add-btn {
          display: flex;
          justify-content: center;
          gap: 10px;

          button {
            display: flex;
            align-items: center;
            gap: 5px;
            &:first-child {
              background: $primary-color;
            }
          }
        }
      }
    }
  }
}
